PORT=5000

ALLOWED_ORIGINS=http://localhost:5173,https://sana-portfolio-weld.vercel.app

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=YOUR_GMAIL@gmail.com
SMTP_PASS=YOUR_16_DIGIT_APP_PASSWORD
SMTP_FROM=YOUR_GMAIL@gmail.com
CONTACT_TO_EMAIL=YOUR_GMAIL@gmail.com